@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "var";

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: $bg-2;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
i {
  color: $color-white;
}
a {
  text-decoration: none;
}
@mixin Marpad() {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  @include Marpad();
}
.section-padding {
  padding: 2rem 0;
  @media screen and (min-width: 991px) {
    padding: 4rem 0;
  }
}

.section-title-wrapper {
  margin-bottom: 3.5rem;
  .section-label {
    position: relative;
    font-size: 16px;
    color: $text-color;
    margin-bottom: 1rem;
    text-transform: uppercase;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      top: 20%;
      left: 110%;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("../images/curved-arrow.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: invert(100);
    }
  }

  .section-title {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: capitalize;
    span {
      color: $primary !important;
    }
  }
}

.btn-main {
  position: relative;
  background-color: $primary;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 24px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $secondary;
    opacity: 0;
    transition: 0.3s all ease-in-out;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $secondary;
    opacity: 0;
    transition: 0.3s all ease-in-out;
  }
  span {
    position: relative;
    z-index: 1;
    color: $color-white;
  }
  &:hover {
    background-color: $primary;
    &::after {
      height: 50%;
      opacity: 1;
    }
    &::before {
      height: 50%;
      opacity: 1;
    }
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: $color-white;
    border-radius: 50%;
    margin: 0 4px;
    opacity: 1;
    transition: background-color 0.4s;
    &.swiper-pagination-bullet-active {
      background-color: $primary;
    }
  }
}

.breadcrumb-wrapper {
  position: relative;
  background: url("../images/breadcrumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black;
    opacity: 0.4;
  }
  .breadcrumb-holder {
    position: relative;
    padding: 10rem 0 5rem 0;
    text-align: center;
    z-index: 1;
    .page-title {
      h1 {
        font-size: 48px;
        font-weight: 600;
        letter-spacing: 3px;
      }
    }
    .breadcrumb {
      .breadcrumb-item {
        a {
          color: $color-white;
        }
        &.active {
          color: $primary;
          &::before {
            color: $primary;
          }
        }
      }
    }
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      background-color: $bg-1;
      .modal-header {
        padding: 1rem 2rem 0 2rem;
        .btn-close {
          filter: invert(100);
          box-shadow: none;
        }
      }
      .modal-body {
        padding: 2rem;
        .form-control,
        .form-select {
          background-color: $bg-2;
          border: none;
          border-radius: 6px;
          padding: 0.8rem;
          color: $text-color;
          box-shadow: #00000029 0px 1px 4px, $text-color 0px 0px 0px 1px;
          &::placeholder {
            color: $text-color;
          }
          &:focus {
            box-shadow: #00000029 0px 1px 4px, $primary 0px 0px 0px 2px;
          }
        }
      }
    }
  }
}
