$color-white: #fff;
$color-black: #000;

$primary: #23a4b9;
$secondary: #06788a;

$bg-1: #242424;
$bg-2: #0a0a0a;

$text-color: #aeaeae;

$grad-1: linear-gradient(to bottom, $secondary -10%, $primary 50%);
