@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: #0a0a0a;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
i {
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-padding {
  padding: 2rem 0;
}
@media screen and (min-width: 991px) {
  .section-padding {
    padding: 4rem 0;
  }
}

.section-title-wrapper {
  margin-bottom: 3.5rem;
}
.section-title-wrapper .section-label {
  position: relative;
  font-size: 16px;
  color: #aeaeae;
  margin-bottom: 1rem;
  text-transform: uppercase;
  display: inline-block;
}
.section-title-wrapper .section-label::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 110%;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../images/curved-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: invert(100);
}
.section-title-wrapper .section-title {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.section-title-wrapper .section-title span {
  color: #23a4b9 !important;
}

.btn-main {
  position: relative;
  background-color: #23a4b9;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 24px;
  overflow: hidden;
}
.btn-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #06788a;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}
.btn-main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #06788a;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}
.btn-main span {
  position: relative;
  z-index: 1;
  color: #fff;
}
.btn-main:hover {
  background-color: #23a4b9;
}
.btn-main:hover::after {
  height: 50%;
  opacity: 1;
}
.btn-main:hover::before {
  height: 50%;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 4px;
  opacity: 1;
  transition: background-color 0.4s;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #23a4b9;
}

.breadcrumb-wrapper {
  position: relative;
  background: url("../images/breadcrumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}
.breadcrumb-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
}
.breadcrumb-wrapper .breadcrumb-holder {
  position: relative;
  padding: 10rem 0 5rem 0;
  text-align: center;
  z-index: 1;
}
.breadcrumb-wrapper .breadcrumb-holder .page-title h1 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 3px;
}
.breadcrumb-wrapper .breadcrumb-holder .breadcrumb .breadcrumb-item a {
  color: #fff;
}
.breadcrumb-wrapper .breadcrumb-holder .breadcrumb .breadcrumb-item.active {
  color: #23a4b9;
}
.breadcrumb-wrapper .breadcrumb-holder .breadcrumb .breadcrumb-item.active::before {
  color: #23a4b9;
}

.modal .modal-dialog .modal-content {
  background-color: #242424;
}
.modal .modal-dialog .modal-content .modal-header {
  padding: 1rem 2rem 0 2rem;
}
.modal .modal-dialog .modal-content .modal-header .btn-close {
  filter: invert(100);
  box-shadow: none;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 2rem;
}
.modal .modal-dialog .modal-content .modal-body .form-control,
.modal .modal-dialog .modal-content .modal-body .form-select {
  background-color: #0a0a0a;
  border: none;
  border-radius: 6px;
  padding: 0.8rem;
  color: #aeaeae;
  box-shadow: rgba(0, 0, 0, 0.1607843137) 0px 1px 4px, #aeaeae 0px 0px 0px 1px;
}
.modal .modal-dialog .modal-content .modal-body .form-control::-moz-placeholder, .modal .modal-dialog .modal-content .modal-body .form-select::-moz-placeholder {
  color: #aeaeae;
}
.modal .modal-dialog .modal-content .modal-body .form-control::placeholder,
.modal .modal-dialog .modal-content .modal-body .form-select::placeholder {
  color: #aeaeae;
}
.modal .modal-dialog .modal-content .modal-body .form-control:focus,
.modal .modal-dialog .modal-content .modal-body .form-select:focus {
  box-shadow: rgba(0, 0, 0, 0.1607843137) 0px 1px 4px, #23a4b9 0px 0px 0px 2px;
}

.about-section .about-hero-card {
  margin-bottom: 3.5rem;
}
.about-section .about-hero-card .about-image {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 0.5rem;
  background: radial-gradient(#23a4b9 -10%, #000 45%);
}
.about-section .about-hero-card .about-image .image-holder {
  width: 46%;
  height: 11rem;
  overflow: hidden;
}
.about-section .about-hero-card .about-image .image-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section .about-hero-card .about-image .image-holder.image-1 {
  border-radius: 12px 0 0 0;
}
.about-section .about-hero-card .about-image .image-holder.image-2 {
  border-radius: 0 12px 0 0;
  transform: translateY(-0.6rem);
}
.about-section .about-hero-card .about-image .image-holder.image-3 {
  border-radius: 0 0 0 12px;
}
.about-section .about-hero-card .about-image .image-holder.image-4 {
  border-radius: 0 0 12px 0;
  transform: translateY(-0.6rem);
}
.about-section .about-hero-card .about-image .main-image {
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: 21rem;
}
.about-section .about-hero-card .about-image .main-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 992px) {
  .about-section .about-hero-card .about-image {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .about-section .about-hero-card .about-image .image-holder {
    height: 8rem;
  }
  .about-section .about-hero-card .about-image .image-holder.image-2 {
    border-radius: 0 12px 0 0;
    transform: translateY(0);
  }
  .about-section .about-hero-card .about-image .image-holder.image-4 {
    border-radius: 0 0 12px 0;
    transform: translateY(0);
  }
  .about-section .about-hero-card .about-image .main-image {
    height: 15rem;
  }
}

.join-banner {
  position: relative;
  background-image: url("../images/slider2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.join-banner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #242424;
  opacity: 0.9;
}
.join-banner .join-desc {
  position: relative;
  z-index: 1;
  text-align: center;
}
.join-banner .join-desc p {
  margin-bottom: 2rem;
  font-size: 14px;
}

.services-section .services-content-wrapper .service-main-img {
  width: 100%;
  height: 32rem;
}
.services-section .services-content-wrapper .service-main-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  -o-object-position: center;
     object-position: center;
}
.services-section .services-content-wrapper h3 {
  font-size: 34px;
  margin-bottom: 1rem;
}
.services-section .services-content-wrapper h3 span {
  color: #23a4b9;
}
.services-section .services-content-wrapper .listing-services ul {
  -moz-column-count: 2;
       column-count: 2;
  margin-top: 1rem;
}
.services-section .services-content-wrapper .listing-services ul li {
  margin-bottom: 1rem;
  font-size: 14px;
}
.services-section .services-content-wrapper .listing-services ul li span i {
  color: #23a4b9;
}
.services-section .services-content-wrapper .bottom-desc ul {
  margin-top: 1rem;
}
.services-section .services-content-wrapper .bottom-desc ul li {
  margin-bottom: 1rem;
  font-size: 14px;
}
.services-section .services-content-wrapper .bottom-desc ul li span i {
  color: #23a4b9;
}
.services-section .services-content-wrapper .slide-sticky-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.services-section .services-content-wrapper .slide-sticky-wrapper .sticky-cols {
  position: sticky;
  top: 5rem;
  left: 0;
}
.services-section .services-content-wrapper .slide-sticky-wrapper .sticky-cols .side-card {
  background-color: #242424;
  padding: 1.5rem;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
.services-section .services-content-wrapper .slide-sticky-wrapper .sticky-cols .side-card .icon-wrapper {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.services-section .services-content-wrapper .slide-sticky-wrapper .sticky-cols .side-card .icon-wrapper i {
  font-size: 30px;
  color: #23a4b9;
}
.services-section .services-content-wrapper .slide-sticky-wrapper .sticky-cols .side-card h4 {
  font-size: 20px;
}
.services-section .services-content-wrapper .slide-sticky-wrapper .sticky-cols .side-card p {
  font-size: 14px;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.solution-section .solution-wrapper .solution-main-image {
  width: 100%;
  height: 20rem;
}
.solution-section .solution-wrapper .solution-main-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.solution-section .solution-wrapper .solution-top-desc .solution-listing ul {
  -moz-column-count: 2;
       column-count: 2;
}
.solution-section .solution-wrapper .solution-top-desc .solution-listing ul li {
  margin-bottom: 0.7rem;
  font-size: 14px;
}
.solution-section .solution-wrapper .solution-top-desc .solution-listing ul li i {
  color: #23a4b9;
}
@media screen and (max-width: 767px) {
  .solution-section .solution-wrapper .solution-top-desc .solution-listing ul {
    -moz-column-count: 1;
         column-count: 1;
  }
  .solution-section .solution-wrapper .solution-top-desc .solution-listing ul li {
    margin-bottom: 0.5rem;
  }
}

.industry-section .industry-mid-section {
  margin-bottom: 3.5rem;
}
.industry-section .industry-mid-section .mid-image {
  width: 100%;
  height: 20rem;
}
.industry-section .industry-mid-section .mid-image img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.industry-section .industry-mid-section .mid-desc h3 span {
  color: #23a4b9;
}
.industry-section .accordion .accordion-item {
  margin-bottom: 1rem;
  border: none;
}
.industry-section .accordion .accordion-item .accordion-header .accordion-button {
  background-color: #242424;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.industry-section .accordion .accordion-item .accordion-header .accordion-button::after {
  filter: invert(100);
}
.industry-section .accordion .accordion-item .accordion-collapse {
  background-color: #000;
  border-left: 2px solid #242424;
  border-right: 2px solid #242424;
  border-bottom: 2px solid #242424;
  border-top: none;
  border-radius: 0;
}
.industry-section .accordion .accordion-item .accordion-collapse .accordion-body {
  font-size: 14px;
}

.career-section .career-wrapper .career-top-img {
  margin-bottom: 2rem;
  width: 100%;
  height: 20rem;
}
.career-section .career-wrapper .career-top-img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.career-section .career-wrapper ul li {
  margin-bottom: 1rem;
}
.career-section .career-wrapper ul li span i {
  color: #23a4b9;
}
.career-section .career-wrapper h3 {
  color: #23a4b9;
}
.career-section .career-wrapper .slidebar-wrapper {
  background-color: #242424;
  padding: 2rem;
  border-radius: 12px;
}

.contact-section .contact-info-wrapper {
  margin-bottom: 3rem;
}
.contact-section .contact-info-wrapper .contact-card .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.contact-section .contact-info-wrapper .contact-card .icon-wrapper i {
  color: #000;
  font-size: 28px;
}
.contact-section .contact-info-wrapper .contact-card .contact-content h4 {
  margin-bottom: 0.3rem;
}
.contact-section .contact-info-wrapper .contact-card .contact-content p {
  margin: 0;
}
.contact-section .contact-info-wrapper .contact-card .contact-content p {
  font-size: 14px;
  color: #aeaeae;
}
.contact-section .contact-form-wrapper .contact-form {
  padding: 2rem;
  background-color: #242424;
  border-radius: 12px;
}
.contact-section .contact-form-wrapper .contact-form .form-control {
  padding: 1rem;
  background-color: #dddddd;
}
.contact-section .contact-form-wrapper .contact-form .form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.1607843137) 0px 1px 4px, #23a4b9 0px 0px 0px 2px;
}
.contact-section .contact-form-wrapper .contact-form .file {
  position: relative;
  display: flex;
  align-items: center;
}
.contact-section .contact-form-wrapper .contact-form .file > input[type=file] {
  display: none;
}
.contact-section .contact-form-wrapper .contact-form .file > label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-color: #d8d8d8 #d1d1d1 #bababa;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: #dddddd;
  color: hsl(0, 0%, 29%);
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section .contact-form-wrapper .contact-form .file > label:hover {
  border-color: #363636;
}
.contact-section .contact-form-wrapper .contact-form .file > label:active {
  background-color: #f5f5f5;
}
.contact-section .contact-form-wrapper .contact-form .file > label > i {
  padding-right: 5px;
  color: #23a4b9;
}
.contact-section .contact-form-wrapper .contact-form .file > label span {
  color: #000;
}
.contact-section .contact-form-wrapper .side-contact-info {
  padding: 1rem;
  background: linear-gradient(to bottom, #06788a -10%, #23a4b9 50%);
  border-radius: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contact-section .contact-form-wrapper .side-contact-info h4 {
  margin-bottom: 1rem;
}
.contact-section .contact-form-wrapper .side-contact-info .social-link {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact-section .contact-form-wrapper .side-contact-info .social-link li a {
  border: 1px solid #fff;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: 0.3s all ease-in-out;
}
.contact-section .contact-form-wrapper .side-contact-info .social-link li a i {
  color: #fff;
  transition: 0.3s all ease-in-out;
}
.contact-section .contact-form-wrapper .side-contact-info .social-link li:hover a {
  background-color: #fff;
  border-color: #fff;
}
.contact-section .contact-form-wrapper .side-contact-info .social-link li:hover a i {
  color: #23a4b9;
}
.contact-section .contact-form-wrapper .side-contact-info .map-wrapper {
  width: 100%;
  height: 15rem;
  border-radius: 12px;
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #000;
  z-index: 999;
}
.navbar .logo {
  width: 12rem;
  height: auto;
}
.navbar .navbar-nav .nav-item {
  position: relative;
  margin-left: 1.8rem;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;
}
.navbar .navbar-nav .nav-item:hover .nav-link {
  color: #23a4b9;
}
.navbar .navbar-nav .nav-item.active .nav-link {
  color: #23a4b9;
}
.navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #242424;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #fff;
  font-size: 14px;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: #23a4b9;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item.active {
  background-color: transparent;
  color: #23a4b9;
}
@media all and (min-width: 992px) {
  .navbar {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    background-color: rgba(8, 8, 8, 0.2941176471);
  }
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }
  .navbar .nav-item::after {
    content: "";
    position: absolute;
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: #23a4b9;
    transition: 0.4s all ease-in-out;
    mask-image: url("../images/star.svg");
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: cover;
    -webkit-mask-image: url("../images/star.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-size: cover;
    -webkit-clip-path: circle(0);
            clip-path: circle(0);
  }
  .navbar .nav-item .dropdown-menu {
    opacity: 0;
    transform: translateY(10px);
    transition: none;
  }
  .navbar .nav-item .dropdown-menu.fade-up {
    animation: fadeUp 0.3s ease forwards;
  }
  .navbar .nav-item .dropdown-menu.fade-down {
    animation: fadeDown 0.3s ease forwards;
  }
  .navbar .nav-item.show .dropdown-menu {
    display: block;
  }
  .navbar .nav-item:hover::after {
    -webkit-clip-path: circle(100px);
            clip-path: circle(100px);
  }
  .navbar .nav-item.active::after {
    -webkit-clip-path: circle(100px);
            clip-path: circle(100px);
  }
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeDown {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }
}
@media screen and (max-width: 1200px) {
  .navbar .navbar-nav .nav-item {
    margin-left: 1rem;
  }
}

.header-section {
  position: relative;
  background-image: url("../images/1-01.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}
.header-section .header-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding-top: 11rem;
}
.header-section .header-wrapper .header-desc {
  width: 55%;
  height: auto;
}
.header-section .header-wrapper .header-desc .title-label {
  font-size: 18px;
  margin-bottom: 1.5rem;
  color: #23a4b9;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}
.header-section .header-wrapper .header-desc .swiper {
  width: 100%;
  height: 13rem;
}
.header-section .header-wrapper .header-desc .swiper-slide {
  display: flex;
  justify-content: start;
  align-items: start;
}
.header-section .header-wrapper .header-desc .swiper-slide h1 {
  font-size: 72px;
  font-weight: 800;
  line-height: 95px;
  opacity: 0;
  transition: opacity 0.8s ease;
}
.header-section .header-wrapper .header-desc .swiper-slide h1 span {
  color: #23a4b9;
}
.header-section .header-wrapper .header-desc .swiper-slide.swiper-slide-active h1 {
  animation: fadeUp 0.8s ease forwards;
  opacity: 1;
}
.header-section .header-wrapper .header-desc .swiper-slide-prev h1,
.header-section .header-wrapper .header-desc .swiper-slide-next h1 {
  animation: fadeDown 0.8s ease forwards;
  opacity: 0;
}
.header-section .header-wrapper .header-desc .social-link {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-section .header-wrapper .header-desc .social-link li a {
  border: 1px solid #aeaeae;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: 0.3s all ease-in-out;
}
.header-section .header-wrapper .header-desc .social-link li a i {
  color: #aeaeae;
  transition: 0.3s all ease-in-out;
}
.header-section .header-wrapper .header-desc .social-link li:hover a {
  background-color: #23a4b9;
  border-color: #23a4b9;
}
.header-section .header-wrapper .header-desc .social-link li:hover a i {
  color: #fff;
}
.header-section .header-wrapper .header-image {
  width: 40rem;
  height: auto;
}
.header-section .header-wrapper .header-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1200px) {
  .header-section .header-wrapper .header-desc .swiper {
    width: 100%;
    height: 13rem;
  }
  .header-section .header-wrapper .header-desc .swiper-slide h1 {
    font-size: 50px;
    line-height: 55px;
  }
}
@media screen and (max-width: 992px) {
  .header-section .header-wrapper {
    height: 100%;
    padding-bottom: 3rem;
  }
  .header-section .header-wrapper .header-desc {
    width: 100%;
    height: auto;
  }
  .header-section .header-wrapper .header-image {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .header-section .header-wrapper {
    height: 100%;
    padding-bottom: 3rem;
  }
  .header-section .header-wrapper .header-desc .title-label {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
  .header-section .header-wrapper .header-desc .swiper {
    width: 100%;
    height: 10rem;
  }
  .header-section .header-wrapper .header-desc .swiper-slide h1 {
    font-size: 38px;
    line-height: 50px;
  }
  .header-section .header-wrapper .header-desc p {
    font-size: 14px;
  }
}

.counter-section .counter-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 1.5rem;
}
.counter-section .counter-item .counter-icon {
  width: 4rem;
  height: 4rem;
  background-color: #23a4b9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter-section .counter-item .counter-icon i {
  font-size: 24px;
}
.counter-section .counter-item .counter-desc h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 0;
  margin: 0;
}
.counter-section .counter-item .counter-desc p {
  font-size: 14px;
  margin-bottom: 0;
  margin: 0;
}

.services-section .swiper-wrapper .swiper {
  width: 100%;
  height: 100%;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}
.services-section .swiper-wrapper .swiper-slide {
  background: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 1.5rem;
}
.services-section .swiper-wrapper .swiper-slide .slider-image {
  height: 24.5rem;
  overflow: hidden;
}
.services-section .swiper-wrapper .swiper-slide .slider-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.services-section .swiper-wrapper .swiper-slide .slider-desc {
  opacity: 0;
  height: 100%;
  transition: opacity 0.8s ease;
}
.services-section .swiper-wrapper .swiper-slide .slider-desc .title-label {
  font-size: 16px;
  color: #aeaeae;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.services-section .swiper-wrapper .swiper-slide .slider-desc h1 {
  font-size: 68px;
  font-weight: 700;
  margin-bottom: 2rem;
}
.services-section .swiper-wrapper .swiper-slide .slider-desc p {
  color: #aeaeae;
  font-size: 16px;
  margin-bottom: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.services-section .swiper-wrapper .swiper-slide.swiper-slide-active .slider-desc {
  animation: fadeUp 0.8s ease forwards;
  opacity: 1;
}
.services-section .swiper-wrapper .swiper-slide-prev .slider-desc,
.services-section .swiper-wrapper .swiper-slide-next .slider-desc {
  animation: fadeDown 0.8s ease forwards;
  opacity: 0;
}
.services-section .swiper-pagination {
  width: auto;
  left: auto;
  right: 0;
}
@media screen and (max-width: 1200px) {
  .services-section .swiper-wrapper .swiper-slide .slider-image {
    height: 24rem;
  }
  .services-section .swiper-wrapper .swiper-slide .slider-desc h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 767px) {
  .services-section .swiper-wrapper .swiper-slide .slider-image {
    height: 17rem;
  }
  .services-section .swiper-wrapper .swiper-slide .slider-desc h1 {
    font-size: 40px;
  }
}

.tools-section {
  position: relative;
  background-image: url("../images/rm378-09-01.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.tools-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}
.tools-section .left-title-wrapper {
  position: relative;
  z-index: 1;
}
.tools-section .tools-link-list {
  position: relative;
  z-index: 1;
}
.tools-section .tools-link-list li {
  border-bottom: 2px solid #aeaeae;
}
.tools-section .tools-link-list li a {
  padding: 2rem 0.5rem 2rem 0;
}
.tools-section .tools-link-list li a .left-link {
  width: 100%;
  margin-right: 0.5rem;
  z-index: 1;
}
.tools-section .tools-link-list li a .left-link .number {
  width: 3rem;
  margin-right: 0.5rem;
}
.tools-section .tools-link-list li a .left-link .number span {
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s all ease-in-out;
}
.tools-section .tools-link-list li a .left-link .tool-name h3 {
  font-size: 26px;
  transition: 0.3s all ease-in-out;
}
.tools-section .tools-link-list li a .icon-wrapper {
  opacity: 0;
  transform: translateX(-3rem);
  transition: 0.3s all ease-in-out;
}
.tools-section .tools-link-list li a .icon-wrapper i {
  color: #23a4b9;
  font-size: 28px;
}
.tools-section .tools-link-list li:last-child {
  border-bottom: none;
}
.tools-section .tools-link-list li:hover a .left-link .number span {
  color: #23a4b9;
}
.tools-section .tools-link-list li:hover a .left-link .tool-name h3 {
  color: #23a4b9;
}
.tools-section .tools-link-list li:hover a .icon-wrapper {
  opacity: 1;
  transform: translateX(0);
}
.tools-section .tools-link-list li.active a .left-link .number span {
  color: #23a4b9;
}
.tools-section .tools-link-list li.active a .left-link .tool-name h3 {
  color: #23a4b9;
}
.tools-section .tools-link-list li.active a .icon-wrapper {
  opacity: 1;
  transform: translateX(0);
}
.tools-section .tools-images-wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding-top: 3rem;
}
.tools-section .tools-images-wrapper .tools-img-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #06788a -10%, #23a4b9 50%);
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.tools-section .tools-images-wrapper .tools-img-icon i {
  font-size: 10rem;
}
.tools-section .tools-images-wrapper .tools-img-icon.active {
  opacity: 1;
}
.tools-section .tools-images-wrapper .tools-img-icon:not(.active) {
  transition: opacity 0.3s ease 0.3s;
}
@media screen and (max-width: 1200px) {
  .tools-section .tools-link-list li a .left-link .number span {
    font-size: 16px;
  }
  .tools-section .tools-link-list li a .left-link .tool-name h3 {
    font-size: 20px;
  }
  .tools-section .tools-images-wrapper .tools-img-icon {
    width: 16rem;
    height: 16rem;
  }
  .tools-section .tools-images-wrapper .tools-img-icon i {
    font-size: 8rem;
  }
}
@media screen and (max-width: 767px) {
  .tools-section .tools-link-list li a {
    padding: 1rem 0.5rem 1rem 0;
  }
  .tools-section .tools-link-list li a .left-link .number {
    width: 1.5rem;
  }
  .tools-section .tools-link-list li a .left-link .number span {
    font-size: 14px;
  }
  .tools-section .tools-link-list li a .left-link .tool-name h3 {
    font-size: 18px;
  }
  .tools-section .tools-link-list li a .icon-wrapper i {
    font-size: 14px;
  }
  .tools-section .tools-images-wrapper {
    width: 100%;
    height: 15rem;
  }
  .tools-section .tools-images-wrapper .tools-img-icon {
    width: 14rem;
    height: 14rem;
  }
  .tools-section .tools-images-wrapper .tools-img-icon i {
    font-size: 6rem;
  }
}

.hire-section .hire-wrapper .hero-card {
  height: 100%;
  border: 2px solid #aeaeae;
  padding: 1.5rem 1rem;
  border-radius: 8px;
}
.hire-section .hire-wrapper .hero-card .icon-wrapper {
  padding: 0.3rem 1rem;
}
.hire-section .hire-wrapper .hero-card .icon-wrapper i {
  color: #23a4b9;
  font-size: 28px;
}
.hire-section .hire-wrapper .hero-card .card-content h4 {
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.hire-section .hire-wrapper .hero-card .card-content p {
  font-size: 14px;
  color: #aeaeae;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .hire-section .hire-wrapper .hero-card {
    padding: 1.5rem 0.8rem;
  }
  .hire-section .hire-wrapper .hero-card .icon-wrapper {
    width: 8rem;
    padding: 0 0.5rem 0 0;
  }
}

.testimonial-section .slider-section-wrapper .swiper {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}
.testimonial-section .slider-section-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  margin-bottom: 1rem;
}
.testimonial-section .slider-section-wrapper .swiper-slide .testi-card .testi-slider-img {
  padding: 0.8rem;
}
.testimonial-section .slider-section-wrapper .swiper-slide .testi-card .testi-slider-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s all ease-in-out;
}
.testimonial-section .slider-section-wrapper .swiper-slide .testi-card .test-slider-content {
  padding-right: 2rem;
}
.testimonial-section .slider-section-wrapper .swiper-slide .testi-card .test-slider-content .review-msg p {
  letter-spacing: 1px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1rem;
  color: #aeaeae;
  font-size: 14px;
  height: 5.5rem;
}
.testimonial-section .slider-section-wrapper .swiper-slide .testi-card .test-slider-content .reviewer-name i {
  color: #23a4b9;
  font-size: 26px;
  margin-right: 1rem;
}
.testimonial-section .slider-section-wrapper .swiper-slide .testi-card .test-slider-content .reviewer-name .user-name p {
  font-size: 16px;
  color: #fff;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 300;
}
.testimonial-section .slider-section-wrapper .swiper-slide .testi-card .test-slider-content .reviewer-name .user-name p b {
  font-weight: 700;
}
.testimonial-section .slider-section-wrapper .swiper-slide:hover .testi-card .testi-slider-img img {
  box-shadow: rgba(0, 0, 0, 0.1607843137) 0px 1px 5px, #23a4b9 0px 0px 0px 3px;
}
.testimonial-section .slider-section-wrapper .swiper-slide.swiper-slide-active .testi-card .testi-slider-img img {
  box-shadow: rgba(0, 0, 0, 0.1607843137) 0px 1px 5px, #23a4b9 0px 0px 0px 3px;
}
@media screen and (max-width: 1200px) {
  .testimonial-section .slider-section-wrapper .swiper-slide {
    border-radius: 0;
    padding: 2rem;
    border: 1px solid var(--text-color-3);
  }
  .testimonial-section .slider-section-wrapper .swiper-slide .testi-card .testi-slider-img {
    padding: 0.8rem;
    width: 13rem;
    height: 13rem;
  }
  .testimonial-section .slider-section-wrapper .swiper-slide .testi-card .test-slider-content {
    padding-right: 0;
  }
}

.partner-section .swiper {
  width: 100%;
  height: 100%;
  padding: 3rem 0;
}
.partner-section .swiper-wrapper {
  transition-timing-function: linear !important;
}
.partner-section .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #aeaeae;
  border-radius: 8px;
  transition: 0.3s all ease-in-out;
}
.partner-section .swiper-slide .slider-logo {
  width: 100%;
  height: 5rem;
  padding: 1rem;
}
.partner-section .swiper-slide .slider-logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.partner-section .swiper-slide:hover {
  border-color: #23a4b9;
  background-color: #23a4b9;
}

.footer-wrapper .footer-content-wrapper {
  border-top: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
  padding: 3.5rem 0;
}
.footer-wrapper .footer-content-wrapper .footer-left .logo {
  width: 13rem;
  height: auto;
  margin-bottom: 1rem;
}
.footer-wrapper .footer-content-wrapper .footer-left p {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 1rem;
}
.footer-wrapper .footer-content-wrapper .footer-left .social-link {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-wrapper .footer-content-wrapper .footer-left .social-link li a {
  border: 1px solid #aeaeae;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: 0.3s all ease-in-out;
}
.footer-wrapper .footer-content-wrapper .footer-left .social-link li a i {
  color: #aeaeae;
  transition: 0.3s all ease-in-out;
}
.footer-wrapper .footer-content-wrapper .footer-left .social-link li:hover a {
  background-color: #23a4b9;
  border-color: #23a4b9;
}
.footer-wrapper .footer-content-wrapper .footer-left .social-link li:hover a i {
  color: #fff;
}
.footer-wrapper .footer-content-wrapper .quick-links h4 {
  font-size: 24px;
  color: #23a4b9;
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer-wrapper .footer-content-wrapper .quick-links ul li {
  margin-left: 0.3rem;
  padding: 0.3rem 0;
}
.footer-wrapper .footer-content-wrapper .quick-links ul li a {
  font-size: 14px;
  transition: 0.3s all ease-in-out;
  display: flex;
  align-items: center;
}
.footer-wrapper .footer-content-wrapper .quick-links ul li a i {
  color: #fff;
  width: 1.5rem;
  height: 100%;
  font-size: 14px;
  padding-right: 1rem;
}
.footer-wrapper .footer-content-wrapper .quick-links ul li a:hover {
  color: #23a4b9;
}
.footer-wrapper .footer-content-wrapper .globe-image {
  width: 15rem;
  height: 100%;
  position: relative;
}
.footer-wrapper .footer-content-wrapper .globe-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  opacity: 0.7;
  transition: 0.3s all ease-in-out;
  z-index: 0;
}
.footer-wrapper .footer-content-wrapper .globe-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}
.footer-wrapper .footer-content-wrapper .globe-image .wdt-hotspot-item-default {
  position: absolute;
  top: 30%;
  left: 30%;
}
.footer-wrapper .footer-content-wrapper .globe-image .wdt-hotspot-item-default .ripples-blobbe {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
@keyframes ripple {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}
.footer-wrapper .footer-content-wrapper .globe-image .wdt-hotspot-item-default .ripples-blobbe .ripp-item {
  position: absolute;
  border-radius: 50%;
  color: transparent;
  transform-origin: center;
  border: 2px solid;
  filter: blur(0.5px);
}
.footer-wrapper .footer-content-wrapper .globe-image .wdt-hotspot-item-default .ripples-blobbe .ripp-item:nth-child(1) {
  width: 54px;
  height: 54px;
  animation: ripple 5s infinite ease-in-out;
  animation-delay: 850ms;
  border-color: #23a4b9;
  opacity: 0.3;
}
.footer-wrapper .footer-content-wrapper .globe-image .wdt-hotspot-item-default .ripples-blobbe .ripp-item:nth-child(2) {
  width: 40px;
  height: 40px;
  animation: ripple 5s infinite ease-in-out;
  animation-delay: 700ms;
  border-color: #23a4b9;
  opacity: 0.4;
}
.footer-wrapper .footer-content-wrapper .globe-image .wdt-hotspot-item-default .ripples-blobbe .ripp-item:nth-child(3) {
  width: 24px;
  height: 24px;
  animation: ripple 5s infinite ease-in-out;
  animation-delay: 550ms;
  border-color: #23a4b9;
  opacity: 0.6;
}
.footer-wrapper .footer-content-wrapper .globe-image .wdt-hotspot-item-default .ripples-blobbe .ripp-item:nth-child(4) {
  width: 10px;
  height: 10px;
  animation: ripple 5s infinite ease-in-out;
  animation-delay: 400ms;
  background-color: #23a4b9;
  opacity: 1;
  cursor: pointer;
}

.copyright-holder .left-content a,
.copyright-holder .left-content p,
.copyright-holder .left-content span,
.copyright-holder .right-content a,
.copyright-holder .right-content p,
.copyright-holder .right-content span {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */