@import "base";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: $color-black;
  z-index: 999;
  .logo {
    width: 12rem;
    height: auto;
  }
  .navbar-nav {
    .nav-item {
      position: relative;
      margin-left: 1.8rem;
      .nav-link {
        font-size: 15px;
        color: $color-white;
        text-transform: uppercase;
        transition: 0.3s all ease-in-out;
      }
      &:hover {
        .nav-link {
          color: $primary;
        }
      }
      &.active {
        .nav-link {
          color: $primary;
        }
      }
      .dropdown-menu {
        background-color: $bg-1;
        .dropdown-item {
          color: $color-white;
          font-size: 14px;
          &:hover {
            background-color: $color-black;
          }
        }
      }
    }
  }
  @media all and (min-width: 992px) {
    backdrop-filter: blur(8px);
    background-color: #0808084b;
    .dropdown-menu-end {
      right: 0;
      left: auto;
    }
    .nav-item {
      &::after {
        content: "";
        position: absolute;
        left: -1rem;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-color: $primary;
        transition: 0.4s all ease-in-out;
        mask-image: url("../images/star.svg");
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        -webkit-mask-image: url("../images/star.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        -webkit-mask-size: cover;
        clip-path: circle(0);
      }
      .dropdown-menu {
        opacity: 0;
        transform: translateY(10px);
        transition: none;
        &.fade-up {
          animation: fadeUp 0.3s ease forwards;
        }
        &.fade-down {
          animation: fadeDown 0.3s ease forwards;
        }
      }
      &.show {
        .dropdown-menu {
          display: block;
        }
      }
      &:hover {
        &::after {
          clip-path: circle(100px);
        }
      }
      &.active {
        &::after {
          clip-path: circle(100px);
        }
      }
    }

    @keyframes fadeUp {
      from {
        opacity: 0;
        transform: translateY(10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes fadeDown {
      from {
        opacity: 1;
        transform: translateY(0);
      }
      to {
        opacity: 0;
        transform: translateY(10px);
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .navbar-nav {
      .nav-item {
        margin-left: 1rem;
      }
    }
  }
}

.header-section {
  position: relative;
  background-image: url("../images/1-01.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black;
    opacity: 0.7;
  }
  .header-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    padding-top: 10rem;
    .header-desc {
      width: 55%;
      height: auto;
      .title-label {
        font-size: 18px;
        margin-bottom: 1.5rem;
        color: $text-color;
      }
      @keyframes fadeUp {
        0% {
          opacity: 0;
          transform: translateY(40px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      @keyframes fadeDown {
        0% {
          opacity: 1;
          transform: translateY(0);
        }
        100% {
          opacity: 0;
          transform: translateY(40px);
        }
      }
      .swiper {
        width: 100%;
        height: 13rem;
      }
      .swiper-slide {
        display: flex;
        justify-content: start;
        align-items: start;
        h1 {
          font-size: 72px;
          font-weight: 800;
          line-height: 95px;
          opacity: 0;
          transition: opacity 0.8s ease;
          span {
            color: $primary;
          }
        }
        &.swiper-slide-active {
          h1 {
            animation: fadeUp 0.8s ease forwards;
            opacity: 1;
          }
        }
      }
      .swiper-slide-prev h1,
      .swiper-slide-next h1 {
        animation: fadeDown 0.8s ease forwards;
        opacity: 0;
      }
      .social-link {
        @include Marpad();
        li {
          a {
            border: 1px solid $text-color;
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
            border-radius: 50%;
            transition: 0.3s all ease-in-out;
            i {
              color: $text-color;
              transition: 0.3s all ease-in-out;
            }
          }
          &:hover {
            a {
              background-color: $primary;
              border-color: $primary;
              i {
                color: $color-white;
              }
            }
          }
        }
      }
    }
    .header-image {
      width: 40rem;
      height: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .header-wrapper {
      .header-desc {
        .swiper {
          width: 100%;
          height: 13rem;
        }
        .swiper-slide {
          h1 {
            font-size: 50px;
            line-height: 55px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    .header-wrapper {
      height: 100%;
      padding-bottom: 3rem;
      .header-desc {
        width: 100%;
        height: auto;
      }
      .header-image {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .header-wrapper {
      height: 100%;
      padding-bottom: 3rem;
      .header-desc {
        .title-label {
          font-size: 14px;
          margin-bottom: 0.5rem;
        }
        .swiper {
          width: 100%;
          height: 10rem;
        }
        .swiper-slide {
          h1 {
            font-size: 38px;
            line-height: 50px;
          }
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

.counter-section {
  .counter-item {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 1.5rem;
    .counter-icon {
      width: 4rem;
      height: 4rem;
      background-color: $primary;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 24px;
      }
    }
    .counter-desc {
      h1 {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 0;
        margin: 0;
      }
      p {
        font-size: 14px;
        margin-bottom: 0;
        margin: 0;
      }
    }
  }
}

.services-section {
  .swiper-wrapper {
    .swiper {
      width: 100%;
      height: 100%;
    }
    // @keyframes widthExpand {
    //   0% {
    //     width: 0;
    //   }
    //   100% {
    //     width: 100%;
    //   }
    // }
    @keyframes fadeUp {
      0% {
        opacity: 0;
        transform: translateY(40px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @keyframes fadeDown {
      0% {
        opacity: 1;
        transform: translateY(0);
      }
      100% {
        opacity: 0;
        transform: translateY(40px);
      }
    }
    .swiper-slide {
      background: $bg-2;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      margin-bottom: 1.5rem;
      .slider-image {
        height: 24.5rem;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 12px;
        }
      }

      .slider-desc {
        opacity: 0;
        height: 100%;
        transition: opacity 0.8s ease;
        .title-label {
          font-size: 16px;
          color: $text-color;
          margin-bottom: 1rem;
          text-transform: uppercase;
        }
        h1 {
          font-size: 68px;
          font-weight: 700;
          margin-bottom: 2rem;
        }
        p {
          color: $text-color;
          font-size: 16px;
          margin-bottom: 2rem;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          // width: 100%;
          // height: 4.8rem;
        }
      }
      &.swiper-slide-active {
        // .slider-image {
        //   animation: widthExpand .8s ease forwards;
        // }
        .slider-desc {
          animation: fadeUp 0.8s ease forwards;
          opacity: 1;
        }
      }
    }
    .swiper-slide-prev .slider-desc,
    .swiper-slide-next .slider-desc {
      animation: fadeDown 0.8s ease forwards;
      opacity: 0;
    }
  }
  .swiper-pagination {
    width: auto;
    left: auto;
    right: 0;
  }

  @media screen and (max-width: 1200px) {
    .swiper-wrapper {
      .swiper-slide {
        .slider-image {
          height: 24rem;
        }
        .slider-desc {
          h1 {
            font-size: 48px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .swiper-wrapper {
      .swiper-slide {
        .slider-image {
          height: 17rem;
        }
        .slider-desc {
          h1 {
            font-size: 40px;
          }
        }
      }
    }
  }
}

.tools-section {
  position: relative;
  background-image: url("../images/rm378-09-01.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $color-black;
    opacity: 0.5;
  }
  .left-title-wrapper {
    position: relative;
    z-index: 1;
  }
  .tools-link-list {
    position: relative;
    z-index: 1;
    li {
      border-bottom: 2px solid $text-color;
      a {
        padding: 2rem 0.5rem 2rem 0;
        .left-link {
          width: 100%;
          margin-right: 0.5rem;
          z-index: 1;
          .number {
            width: 3rem;
            margin-right: 0.5rem;
            span {
              font-size: 18px;
              font-weight: 500;
              transition: 0.3s all ease-in-out;
            }
          }
          .tool-name {
            h3 {
              font-size: 26px;
              transition: 0.3s all ease-in-out;
            }
          }
        }
        .icon-wrapper {
          opacity: 0;
          transform: translateX(-3rem);
          transition: 0.3s all ease-in-out;
          i {
            color: $primary;
            font-size: 28px;
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        a {
          .left-link {
            .number {
              span {
                color: $primary;
              }
            }
            .tool-name {
              h3 {
                color: $primary;
              }
            }
          }
          .icon-wrapper {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
      &.active {
        a {
          .left-link {
            .number {
              span {
                color: $primary;
              }
            }
            .tool-name {
              h3 {
                color: $primary;
              }
            }
          }
          .icon-wrapper {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }
  .tools-images-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding-top: 3rem;
    .tools-img-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $grad-1;
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      i {
        font-size: 10rem;
      }
      &.active {
        opacity: 1;
      }
      &:not(.active) {
        transition: opacity 0.3s ease 0.3s; // Delay for fading out inactive icons
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .tools-link-list {
      li {
        a {
          .left-link {
            .number {
              span {
                font-size: 16px;
              }
            }
            .tool-name {
              h3 {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .tools-images-wrapper {
      .tools-img-icon {
        width: 16rem;
        height: 16rem;
        i {
          font-size: 8rem;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .tools-link-list {
      li {
        a {
          padding: 1rem 0.5rem 1rem 0;
          .left-link {
            .number {
              width: 1.5rem;
              span {
                font-size: 14px;
              }
            }
            .tool-name {
              h3 {
                font-size: 18px;
              }
            }
          }
          .icon-wrapper {
            i {
              font-size: 14px;
            }
          }
        }
      }
    }
    .tools-images-wrapper {
      width: 100%;
      height: 15rem;
      .tools-img-icon {
        width: 14rem;
        height: 14rem;
        i {
          font-size: 6rem;
        }
      }
    }
  }
}

.hire-section {
  .hire-wrapper {
    .hero-card {
      height: 100%;
      border: 2px solid $text-color;
      padding: 1.5rem 1rem;
      border-radius: 8px;
      .icon-wrapper {
        padding: 0.3rem 1rem;
        i {
          color: $primary;
          font-size: 28px;
        }
      }
      .card-content {
        h4 {
          font-size: 20px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        p {
          font-size: 14px;
          color: $text-color;
          margin: 0;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    .hire-wrapper {
      .hero-card {
        padding: 1.5rem 0.8rem;
        .icon-wrapper {
          padding: 0 0.5rem 0 0;
        }
      }
    }
  }
}

.testimonial-section {
  .slider-section-wrapper {
    .swiper {
      width: 100%;
      height: 100%;
      padding: 2rem 0;
    }
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: grab;
      margin-bottom: 1rem;
      .testi-card {
        .testi-slider-img {
          padding: 0.8rem;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            transition: 0.3s all ease-in-out;
          }
        }
        .test-slider-content {
          padding-right: 2rem;
          .review-msg {
            p {
              letter-spacing: 1px;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
              margin-bottom: 1rem;
              color: $text-color;
              font-size: 14px;
              height: 5.5rem;
            }
          }
          .reviewer-name {
            i {
              color: $primary;
              font-size: 26px;
              margin-right: 1rem;
            }
            .user-name {
              p {
                font-size: 16px;
                color: $color-white;
                letter-spacing: 2px;
                margin: 0;
                font-weight: 300;
                b {
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
      &:hover {
        .testi-card {
          .testi-slider-img {
            img {
              box-shadow: #00000029 0px 1px 5px, $primary 0px 0px 0px 3px;
            }
          }
        }
      }
      &.swiper-slide-active {
        .testi-card {
          .testi-slider-img {
            img {
              box-shadow: #00000029 0px 1px 5px, $primary 0px 0px 0px 3px;
            }
          }
        }
      }
      @media screen and (max-width: 1200px) {
        border-radius: 0;
        padding: 2rem;
        border: 1px solid var(--text-color-3);
        .testi-card {
          .testi-slider-img {
            padding: 0.8rem;
            width: 13rem;
            height: 13rem;
          }
          .test-slider-content {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.partner-section {
  .swiper {
    width: 100%;
    height: 100%;
    padding: 3rem 0;
  }
  .swiper-wrapper {
    transition-timing-function: linear !important;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $text-color;
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
    .slider-logo {
      width: 100%;
      height: 5rem;
      padding: 1rem;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &:hover {
      border-color: $primary;
      background-color: $primary;
    }
  }
}

.footer-wrapper {
  .footer-content-wrapper {
    border-top: 1px solid $text-color;
    border-bottom: 1px solid $text-color;
    padding: 3.5rem 0;
    .footer-left {
      .logo {
        width: 13rem;
        height: auto;
        margin-bottom: 1rem;
      }
      p {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 1rem;
      }
      .social-link {
        @include Marpad();
        li {
          a {
            border: 1px solid $text-color;
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
            border-radius: 50%;
            transition: 0.3s all ease-in-out;
            i {
              color: $text-color;
              transition: 0.3s all ease-in-out;
            }
          }
          &:hover {
            a {
              background-color: $primary;
              border-color: $primary;
              i {
                color: $color-white;
              }
            }
          }
        }
      }
    }
    .quick-links {
      h4 {
        font-size: 24px;
        color: $primary;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      ul {
        li {
          margin-left: 0.3rem;
          padding: 0.3rem 0;
          a {
            font-size: 14px;
            transition: 0.3s all ease-in-out;
            display: flex;
            align-items: center;
            i {
              color: $color-white;
              width: 1.5rem;
              height: 100%;
              font-size: 14px;
              padding-right: 1rem;
            }
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
    .globe-image {
      width: 15rem;
      height: 100%;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-2;
        opacity: 0.7;
        transition: 0.3s all ease-in-out;
        z-index: 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: -1;
      }
      .wdt-hotspot-item-default {
        position: absolute;
        top: 30%;
        left: 30%;
        .ripples-blobbe {
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 5;
          @keyframes ripple {
            0%,
            100% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.15);
            }
          }
          .ripp-item {
            position: absolute;
            border-radius: 50%;
            color: transparent;
            transform-origin: center;
            border: 2px solid;
            filter: blur(0.5px);
            &:nth-child(1) {
              width: 54px;
              height: 54px;
              animation: ripple 5s infinite ease-in-out;
              animation-delay: 850ms;
              border-color: $primary;
              opacity: 0.3;
            }
            &:nth-child(2) {
              width: 40px;
              height: 40px;
              animation: ripple 5s infinite ease-in-out;
              animation-delay: 700ms;
              border-color: $primary;
              opacity: 0.4;
            }
            &:nth-child(3) {
              width: 24px;
              height: 24px;
              animation: ripple 5s infinite ease-in-out;
              animation-delay: 550ms;
              border-color: $primary;
              opacity: 0.6;
            }
            &:nth-child(4) {
              width: 10px;
              height: 10px;
              animation: ripple 5s infinite ease-in-out;
              animation-delay: 400ms;
              background-color: $primary;
              opacity: 1;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.copyright-wrapper {
  .copyright-holder {
    a,
    p,
    span {
      font-size: 14px;
    }
  }
}
